# Зависимости
/node_modules
/@nodutilus/node_modules
/test/node_modules

# Промежуточные данные для тестов
test/example/fs/copy
test/example/fs/symlink
test/example/fs/remove
test/example/fs/write

# Папки сборки модулей, хранения отчетов и пр.
build
coverage