# Зависимости для сборки
node_modules

# Зависимости для тестирования и сборки
src/node_modules
test/node_modules
bin/node_modules

# Промежуточные данные для тестов
test/example/fs/copy
test/example/fs/remove
test/example/fs/symlink

# Папка сборки модулей, хранения отчетов и пр.
build
